
  body{
    background-color: #eaf6f6;
  }

  hr {
    background-color: grey ;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #66bfbf;
  }
h3{
  color: #66bfbf;
  padding-left: 10px;
}
.item p{
  color: #66bebf;
}
table{
  padding-left: 10px;
}
 td{
     padding-left: 20px;
 }
.work-experience{
  padding: 10px;
}
.contact {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-content: center;
  margin-left: 720px;

  }
.contact:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
